<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/<%= user.id %>?_method=PUT" method="post">
        <input type="text" name="firstName" placeholder="Enter firstname" value="<%= user.firstName %>"> <br>
        <input type="text" name="lastName" placeholder="Enter Lastname" value="<%= user.lastName %>"> <br>
        <input type="number" name="age" placeholder="Enter Age" value="<%= user.age %>"><br>
        <input type="text" name="profession" placeholder="Enter profession" value="<%= user.profession %>"> <br>
        <button>save</button>
    </form>
    
</body>
</html>