<% layout('/layouts/boilerplate') -%>

<div class="d-flex gap-5 flex-wrap justify-content-center mt-4 mb-4 ">
    <% for(let product of products) { %>
        <div class="card" style="width: 20rem;">
            <img style="height: 12rem;" src="<%= product.Image %>" class="card-img-top" alt="...">
            <div class="card-body"> 
                <h5 class="card-title"><%= product.name %></h5>
                <p class="card-text">₹<%= product.price %></p>
                <p class="card-text"><%= product.description %></p>
                <a href="/products/<%= product.id %>" class="btn btn-sm btn-success">Show</a>
            </div>
        </div>

        <% } %>
    </div>

    <!-- .card:hover {     
        cursor: pointer; 
        box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2);
      }
 -->
