<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Edit a User</h2>


    <form action="/users/<%= user.id %>?_method=PUT" method="post">
        <input  name="firstName" type="text" placeholder="FIRSTNAME" value="<%= user.firstName %>"> <br><br>
        <input name="lastName" type="text" placeholder="LASTNAME" value="<%= user.lastName %>"> <br><br>
        <input name="age" type="number" placeholder="AGE" value="<%= user.age %>"><br> <br>

        <label for="male">Male</label>
        <input  id="male" type="radio" name="gender" value="male" <%= user.gender === 'male' ? "checked" : "" %>> 

        <label for="female">Female</label>
        <input id="female" type="radio" name="gender" value="female" <%= user.gender === 'female' ? "checked" : "" %>>

    
        <label for="other">Other</label>
        <input id="other" type="radio" name="gender" value="other" <%= user.gender === 'other' ? "checked" : "" %>> <br><br>

        <input type="text" name="profession" placeholder="PROFESSION" value="<%= user.profession %>"><br><br>
        <button>Save</button>
    </form>
    
</body>
</html>