<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Show user</h2>

    <div style="border: 2px solid black; padding: 10px; margin-bottom: 10px;">
        <p>FIRSTNAME: <%= user.firstName %></p>
        <p>LASTNAME: <%= user.lastName %></p>
        <p>AGE: <%= user.age %></p>
        <p>GENDER: <%= user.gender %></p>
        <p>PROFESSION: <%= user.profession %></p>
    </div>
    
</body>
</html>